body {
  font-family: 'NTR', sans-serif; }

.button {
  height: 3.438rem;
  width: 12.125rem;
  background: #16a085;
  color: white;
  border: none;
  border-radius: 0.188rem;
  margin: 0.5rem; }
  .button:hover {
    box-shadow: 0 1px 10px #16a085;
    background-color: #17b196;
    transform: 1.02; }

.myJumbotron {
  height: 56rem;
  width: 100%;
  background: url("../img/build/livello-1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  position: relative;
  color: #fff; }
  .myJumbotron h1 {
    font-weight: bold;
    letter-spacing: 2px; }

.myNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

.myNavbar-nav {
  margin: auto;
  color: #fff; }
  .myNavbar-nav li {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    list-style-type: none;
    margin: 2rem 5rem 5rem 5rem; }
    .myNavbar-nav li:hover {
      -webkit-filter: drop-shadow(5px 5px 15px #16a085);
      filter: drop-shadow(5px 5px 15px #16a085); }
  .myNavbar-nav a {
    color: #fff; }

.center, .our-comunity .col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

.social-icon {
  position: absolute;
  bottom: 1rem; }
  .social-icon img {
    margin: 0.2rem; }

.call-to-action {
  text-align: center;
  color: #fff; }
  .call-to-action h1 {
    text-align: center; }
  .call-to-action p {
    text-align: center; }

.represent {
  background: #f5f6f7; }
  .represent h4 {
    padding-top: 10rem; }
  .represent img {
    padding-top: 5rem;
    height: 100%;
    width: 100%; }

.carousel-01 h4 {
  padding-top: 10rem; }

.carousel-01 img {
  padding: 10rem 5rem 0 5rem; }

.carousel-control-prev {
  left: 2rem;
  top: 25rem; }

.carousel-control-next {
  position: absolute;
  left: 0rem;
  top: 25rem; }

.our-comunity {
  background-color: #f5f6f7;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .our-comunity .col-md-3 img {
    padding-bottom: 1rem; }
    .our-comunity .col-md-3 img:hover {
      -webkit-filter: drop-shadow(5px 5px 15px #16a085);
      filter: drop-shadow(5px 5px 15px #16a085); }
  .our-comunity .col-md-3 p {
    text-align: center; }

#carousel {
  height: 300px;
  width: 800px;
  margin: 0 auto;
  overflow: hidden; }
  #carousel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 2000px; }
    #carousel ul li {
      height: 300px;
      width: 400px;
      float: left; }
      #carousel ul li img {
        height: 15rem;
        width: 23rem;
        border-radius: 0.188rem; }
        #carousel ul li img:hover {
          -webkit-filter: drop-shadow(5px 5px 15px #16a085);
          filter: drop-shadow(5px 5px 15px #16a085); }

.take-a-photo {
  height: 100vh;
  width: 100%;
  background: url("../img/build/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
  margin: 0; }
  .take-a-photo form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: no-wrap;
    align-items: center; }

.input-custom {
  height: 4rem;
  width: 50vw;
  background: #fff;
  color: #424242;
  border: none;
  border-radius: 0.188rem 0 0 0.188rem; }

.button-small {
  height: 4rem;
  width: 10vw;
  background: #16a085;
  color: white;
  border: none;
  border-radius: 0 0.188rem 0.188rem 0; }
  .button-small:hover {
    box-shadow: 0 1px 10px #16a085;
    background-color: #17b196;
    transform: 1.02; }

.download-it {
  background-color: #f5f6f7; }
  .download-it h4 {
    padding-top: 5.700rem; }

.store-section {
  margin-top: 5.800rem; }

.store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center; }

.button-dow {
  height: 4rem;
  width: 15rem;
  background: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 0.188rem 0 0 0.188rem;
  margin-bottom: 8rem; }
  .button-dow:hover {
    box-shadow: 0 1px 10px #16a085;
    background-color: #17b196;
    transform: 1.02; }

.button-store {
  height: 4rem;
  width: 4rem;
  background: #16a085;
  color: white;
  border: none;
  border-radius: 0 0.188rem 0.188rem 0;
  margin-bottom: 8rem; }

.credits {
  height: 8rem;
  width: 100%;
  background: #fff;
  font-weight: bold; }
  .credits h6 {
    padding-top: 2rem;
    font-weight: bold; }
    .credits h6:hover {
      -webkit-filter: drop-shadow(5px 5px 15px #16a085);
      filter: drop-shadow(5px 5px 15px #16a085); }
  .credits .flex-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center; }
    .credits .flex-right img {
      padding: 2rem; }
      .credits .flex-right img:hover {
        -webkit-filter: drop-shadow(5px 5px 15px #16a085);
        filter: drop-shadow(5px 5px 15px #16a085); }

@media screen and (max-width: 1000px) {
  .myNavbar-nav {
    margin-bottom: 5rem; }
    .myNavbar-nav li {
      margin-bottom: 10px; }
      .myNavbar-nav li img {
        display: none; }
  .carousel-01 img {
    padding: 10rem 0 0 1rem; }
  .carousel-01 .carousel-control-prev, .carousel-01 .carousel-control-next {
    display: none; }
  #carousel {
    width: 400px; } }

@media screen and (max-width: 768px) {
  .myNavbar-nav {
    margin-bottom: 5rem; }
    .myNavbar-nav li {
      margin-bottom: 10px; }
      .myNavbar-nav li img {
        display: none; }
  .your-live {
    margin-top: 1rem; }
  .represent h4 {
    padding-top: 5rem; }
  .our-comunity {
    padding-top: 5rem;
    padding-bottom: 5rem; }
    .our-comunity #carousel {
      width: 400px; }
  .download-it button {
    margin-bottom: 1rem; } }

@media screen and (max-width: 500px) {
  .carousel-01 h4 {
    padding-top: 5rem; }
  .carousel-01 img {
    padding: 5rem 0 0 0; }
  .credits h6, .credits p {
    text-align: center; } }

/*# sourceMappingURL=photo.css.map */