$main-color: #16a085
$background: #f5f6f7

$tablet-portrait: (max-width: 767px)

@mixin respond-to($media)
    @media only screen and #{$media}

@mixin responsive-image($background-repeat, $-webkit-background-size, $-moz-background-size, $-o-background-size, $background-size, $background-position)	
	background-repeat: $background-repeat
	-webkit-background-size: $-webkit-background-size
	-moz-background-size: $-moz-background-size
	-o-background-size: $-o-background-size
	background-size: $background-size
	background-position: $background-position

@mixin flex($display, $flex-direction, $justify-content, $flex-wrap)
	display: $display
	flex-direction: $flex-direction
	justify-content: $justify-content
	flex-wrap: $flex-wrap

@mixin hei-wid-back($height, $width, $background)
	height: $height
	width: $width
	background: $background

@mixin col-bor-rad($color, $border, $border-radius)
	color: $color
	border: $border
	border-radius: $border-radius

body
	font-family: 'NTR', sans-serif

.button
	@include hei-wid-back(3.438rem, 12.125rem, #16a085)
	@include col-bor-rad(white, none, 0.188rem)
	&:hover
        box-shadow: 0 1px 10px $main-color
        background-color: #17b196
        transform: scale(1.02)

.jumbotron
	@include hei-wid-back(56rem, 100%, url('../img/build/livello-1.jpg'))
	@include responsive-image(no-repeat, cover, cover, cover, cover, center)
	margin: 0
	position: relative
	color: #fff
	h1
		font-weight: bold
		letter-spacing: 2px;

.navbar
	@include flex(flex, row, center, wrap)

.navbar-nav
	margin: auto
	color: #fff	
	li
		font-size: 1rem
		font-weight: 700
		line-height: 15rem
		text-transform: uppercase
		letter-spacing: 0.15rem
		list-style-type: none
		margin: 2rem 5rem 5rem 5rem
		&:hover
            -webkit-filter: drop-shadow(5px 5px 15px $main-color)
            filter: drop-shadow(5px 5px 15px $main-color)
            -webkit-filter: drop-shadow(5px 5px 15px $main-color)
            filter: drop-shadow(5px 5px 15px $main-color)
	a
		color: #fff      

.center
	@include flex(flex, column, center, wrap)
	align-items: center

.social-icon
	position: absolute
	bottom: 1rem
	img
		margin: 0.2rem		
	
.call-to-action
	text-align: center
	color: white
	h1
		text-align: center
	p
		text-align: center

.represent
	background: $background
	h4
		padding-top: 10rem
	img
		padding-top: 5rem
		height: 100%
		width: 100%

.carousel-01
	h4
		padding-top: 10rem
	img
		padding-top: 5rem
	.carousel-control-prev
		left: 2rem
		top: 25rem

	.carousel-control-next
		position: absolute
		left: 0rem
		top: 25rem
	button
	    margin: 0.1rem

.our-comunity
	background-color: $background
	padding-top: 10rem
	padding-bottom: 10rem
	.col-md-3
		@extend .center
		img
			padding-bottom: 1rem
			&:hover
		    -webkit-filter: drop-shadow(5px 5px 15px $main-color)
		    filter: drop-shadow(5px 5px 15px $main-color)
		    -webkit-filter: drop-shadow(5px 5px 15px $main-color)
		    filter: drop-shadow(5px 5px 15px $main-color)
		p
			text-align: center
#carousel
	height: 300px
	width: 800px
	margin: 0 auto
	overflow: hidden
	ul
		list-style-type: none
		padding: 0
		margin: 0
		width: 2000px
		li
			height: 300px
			width: 400px
			float: left
			img
				height: 15rem
				width: 23rem
				border-radius: 0.188rem
				&:hover
	            -webkit-filter: drop-shadow(5px 5px 15px $main-color)
	            filter: drop-shadow(5px 5px 15px $main-color)
	            -webkit-filter: drop-shadow(5px 5px 15px $main-color)
	            filter: drop-shadow(5px 5px 15px $main-color)	

.take-a-photo
	@include hei-wid-back(100vh, 100%, url('../img/build/background.png'))
	@include responsive-image(no-repeat, cover, cover, cover, cover, center)
	@include flex(flex, column, center, no-wrap)
	margin: 0
	form
		@include flex(flex, row, center, no-wrap)

.input-custom
	@include hei-wid-back(4rem, 17.500rem, #fff)
	@include col-bor-rad(#424242, none, 0.188rem 0 0 0.188rem)

.button-small
	@include hei-wid-back(4rem, 4rem, #16a085)
	@include col-bor-rad(white, none, 0 0.188rem 0.188rem 0)
	&:hover
        box-shadow: 0 1px 10px $main-color
        background-color: #17b196
        transform: scale(1.03)

.download-it
	background-color: $background
	h4
		padding-top: 5.700rem

.store-section
	margin-top: 5.800rem

.store
	@include flex(flex, row, center, no-wrap)

.button-dow
	@include hei-wid-back(4rem, 15rem, #1abc9c)
	@include col-bor-rad(#fff, none, 0.188rem 0 0 0.188rem)
	&:hover
        box-shadow: 0 1px 10px $main-color
        background-color: #17b196
        transform: scale(1.02)

.button-store
	@include hei-wid-back(4rem, 4rem, #16a085)
	@include col-bor-rad(white, none, 0 0.188rem 0.188rem 0)
				
@media screen and (max-width: 768px)
	.represent
		h4
			padding-top: 5rem

	.carousel-01
		h4
			padding-top: 5rem	

	.our-comunity
		padding-top: 5rem
		padding-bottom: 5rem
		.carousel
			width: 400px	

	.carousel-01
		.carousel-control-prev, .carousel-control-next
			display: none

	.download-it
		button
			margin-bottom: 1rem
				

